
.card {
    font-size:         1.7em;
    height:            50px;
    position:          relative;
    padding:           0px;
    background:        #fff;
   
}
.redCard{
     color:             red;
}
.blackCard{
    color:             black;
}



.type{
    display:         block;   
    width:           100%;
}
.button {
    width:             10%;
    height:             40px;
    margin:             auto;
    cursor:             pointer;
    overflow:          hidden;
    text-align:        center;
    float:             left;
    margin-right:      10px;
    padding-top:       20px;
}
span {
    box-shadow:         1px 0px 4px 1px #ddd;
    padding:             6px;
    border-radius:     2px;
    border:1px solid #ccc;
}

.x {
    font-size:.4em;
    margin-top: -38px;
    position:relative;
    left:7px;
}
.xx {
    font-size:.4em;
    position:relative;
    left:-9px;
    margin: 15px;
}